.index_img{
    height:50px;
    width:50px;
}
.show_img{
    height: 200px!important;
    width:200px!important;
}
.require{
    color: red;
}
 .required:after{
     content:'*';
     color:red;
     padding-left:5px;
 }

 .hidden_field{
     display: none!important;
 }

.link_text_color {
    color: darkgreen!important;
}
.wishlist_color{
    color:white!important;
}
.div_color{
    color:yellow;
}


.product-added{

    background-color: #f5f5ed;
    background: #F5F5ED;
    cursor: text !important; ;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;


}
.product-added-towishlist{

    background-color: #f5f5ed;
    background: #fe980f;
    cursor: text!important; ;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;


}
a{
    cursor: pointer;
}

.added{
    cursor: text;
}

/*css for checkout form*/
.checkout-form-input{
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
}

a{
    text-decoration: none!important;
}




/*
#zoom {
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;

    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    display: none;
}


#view {

    margin: 0;
    height: 384px;


}



#view img {

    border-radius: 8px;
    height:100%;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,.6);

}


#thumbs {

    position: relative;
    margin: 0;

}



#nav-left-thumbs { left: 10px; }

#nav-right-thumbs { right: 10px; }


#nav-left-thumbs, #nav-right-thumbs {

    position: absolute;
    top: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;

    box-shadow: 0 0 10px rgba(0,0,0,.6);
    font-size: 1em;
    font-weight: bold;
    color: #999;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition-duration: .5s;
}

#nav-left-thumbs:hover, #nav-right-thumbs:hover { background: lightgrey; }

#pics-thumbs {
    position: relative;
    padding: 5px 0;
    margin: 0 60px;
    white-space: nowrap;
    overflow: hidden;
    transition-duration: .8s;

}

#pics-thumbs img {
    padding: 5px;
    margin: 0 2px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    cursor: pointer;
    height: 75px;
    width: 60px;
    transition-duration: .5s;

}
*/

